
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Alkatra', cursive;

}
.Label{
    color: #9e2a2b;
}

#titulo{
    font-size: 700;
    color: #540b0e;
    margin-top: 50px;
}
body{
    background-color: #bde0fe;
    font-size: 1em;
    margin-left: 30%;
    margin-top: 2%;
    justify-content: center;
}
